.main {
  height: 939px;
}

.Intro {
  margin: 40px auto;
  justify-content: center;
  text-align: center;
  width: 90%;
}

.whatsapp {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.email {
  margin-top: 15%;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.label {
  text-align: center;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 100%;
  text-align: center;
}
