.navbar {
    background-color: gray;
    display: flex;
    width: 100%;
}


.navbar li {
    list-style: none;
    display: inline;
    padding: 0 20px;
    font-size: 20px;
    color: white;
    transition: all 0.3s ease;
}

.navbar li:hover {
    color: red;
}

.logo {
    background-color: gray;
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 5vh;
    color: white;
}

.logo a {
    font-size: 30px;
    transition: all 0.3s ease;
}

.logo a:hover {
    color: red;
}