.Intro {
    margin: 40px auto;
    justify-content: center;
    text-align: center;
    width: 90%;
}

.whatsapp {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}